@charset "utf-8";

body#bodyID form#frm input,
body#bodyID form#frm select{
	background: white;
}
body#bodyID form#formID .MouseoverNow{
	background: #cedeef;
	/*background: yellow;*/
}
body#bodyID form#formID .blank{
	/*background: green;*/
	background: #ffdddd;
}


body#bodyID form#formID label.blank{
	/*background: green;*/
	background: #ffdddd !important;
}


body#bodyID form#formID .error{
	/*background: green;*/
	background: blue;
}
body#bodyID form#formID .NT_appeal{
	/*background: green;*/
	color:orange;
}
body#bodyID form#formID div.blank label{
	/*background: green;*/
	background: #ffdddd;
}
body#bodyID form#formID #B1{
	display: none;
}
body#bodyID form#formID input:focus{
	background: #ffffe5;
}
body#bodyID form#formID span.blankMS{
	color: #ed5600;
}
/*body#bodyID form#formID #boxID{
	width: 60px;
	height: 20px;
}
*/

/*1文字*/
body#bodyID form#formID input[nt_base_index="25"]
,body#bodyID form#formID input[nt_base_index="26"]
,body#bodyID form#formID input[nt_base_index="33"]
{
	width: 36px !important;
}

/*2文字*/
body#bodyID form#formID input[nt_base_index="14"]
,body#bodyID form#formID input[nt_base_index="17"]
,body#bodyID form#formID input[nt_base_index="27"]
{
	width: 46px !important;
}
/*3文字*/
body#bodyID form#formID input[nt_base_index="17"]
{
	width: 58px !important;
}
/*4文字*/
body#bodyID form#formID input[nt_base_index="15"]
,body#bodyID form#formID input[nt_base_index="16"]
,body#bodyID form#formID input[nt_base_index="18"]
,body#bodyID form#formID input[nt_base_index="24"]
{
	width: 64px !important;
}

body#bodyID form#formID #NT_dlforMS dd
{
	margin-left: 0;
	margin-bottom: 8px;
}
body#bodyID form#formID #NT_dlforMS dd input
{
	margin-left: 2px;
	margin-right: 2px;
}
body#bodyID form#formID #NT_dlforMS dd span.fortext
{
	margin-left: 2px;
	margin-right: 2px;
}
body#bodyID form#formID #NT_dlforMS dd input[nt_base_index="17"]
{
	margin-right: 0;
}
body#bodyID form#formID #NT_dlforMS dd input[nt_base_index="18"]
{
	margin-left: 0;
}

/*エラーMS*/
body#bodyID form#formID #NT_dlforMS div.NT_divforMS
{
	/*display: inline-block;*/
	/*display: inline-flexbox;*/
	display: inline-table;
	/*display: table;*/
}
/*1 normal*/
body#bodyID form#formID #NT_dlforMS div.NT_divforMS
{
	width: 100%;
	vertical-align: top;
}
/*2 name*/
body#bodyID form#formID #NT_dlforMS div.NT_divforMS[nt_dd_num="16_0"]
,body#bodyID form#formID #NT_dlforMS div.NT_divforMS[nt_dd_num="16_1"]
,body#bodyID form#formID #NT_dlforMS div.NT_divforMS[nt_dd_num="15_0"]
,body#bodyID form#formID #NT_dlforMS div.NT_divforMS[nt_dd_num="15_1"]
{
	width: 47%;
	margin-right: 3%;
}
/*2 yubin*/
body#bodyID form#formID #NT_dlforMS div.NT_divforMS[nt_dd_num="12_0"]
,body#bodyID form#formID #NT_dlforMS div.NT_divforMS[nt_dd_num="12_1"]
{
	width: 100px;
	margin-right: 8px;
}
/*3 tel*/
body#bodyID form#formID #NT_dlforMS div.NT_divforMS[nt_dd_num="13_0"]
,body#bodyID form#formID #NT_dlforMS #divID3 div.NT_divforMS
{
	width: 75px;
	margin-right: 12px;
}
body#bodyID form#formID #NT_dlforMS div.NT_divforMS[nt_dd_num="13_1"]
{
	width: 80px;
	margin-right: 20px;
}
body#bodyID form#formID #NT_dlforMS div.NT_divforMS[nt_dd_num="13_2"]
{
	width: 80px;
	margin-right: 0px;
}
/*3 seinen*/
body#bodyID form#formID #NT_dlforMS div.NT_divforMS[nt_dd_num="6_0"]
{
	width: 95px;
	margin-left: 35px;
}
body#bodyID form#formID #NT_dlforMS div.NT_divforMS[nt_dd_num="6_1"]
,body#bodyID form#formID #NT_dlforMS div.NT_divforMS[nt_dd_num="6_2"]
{
	width: 70px;
	margin-left: 8px;
}
body#bodyID form#formID #NT_dlforMS div.NT_divforMS[nt_dd_num="6_3"]
{
	margin-left: 35px;
}
/*―――――――――――――――――――――――――*/
body#bodyID form#formID #NT_dlforMS dd.NT_NoMS
{
	display: none;
}
body#bodyID form#formID #divID3 input
{
	width: 45px !important;
}
body#bodyID form#formID #divID3 dd.NT_DD_R_1>span.fortext
,body#bodyID form#formID #divID3 dd.NT_DD_R_0>span.fortext
{
	margin-left: 5px;
	margin-right: 10px;
}
